version: "3.9"
services:
  client:
    container_name: z37_client
    build: ./client
    tty: true
    cap_add:
      - NET_ADMIN
    depends_on:
      - server
  server:
    container_name: z37_server
    build: ./server
    tty: true
    cap_add:
      - NET_ADMIN
    command: sh -c "tc qdisc add dev eth0 root netem delay 100ms 50ms loss 30%& ./udp_server 8000"
